/*- Mobile: 375px
- Desktop: 1440px

#### Text
- Very dark desaturated blue: hsl(238, 29%, 16%)
- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)
*/

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(359deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

dt {
    color: hsl(237, 12%, 33%);
    margin-bottom: 0.9rem;
    display: flex;
    justify-content: space-between;
}

dt > span:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

h1 {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.desktop-illustration-container {
    display: none;
}
.white-part {
    margin: 10rem 1.5rem 2rem;
    background-color: white;
    border-radius: 1.3rem;
    max-width: 330px;
}

.mobile-illustration-container {
    top: -117px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: -91px;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: initial;
    background-position-y: bottom;
    padding-bottom: 1.7rem;
    background-position-x: center;
    max-width: 362px;
}

.inner-container {
    width: 76%;
}

.faqs {
    margin: 2.5rem 1rem;
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
    color: hsl(240, 6%, 50%);
}

hr {
    border-top: 1px solid hsl(240, 5%, 91%);;
    margin: 1rem 0;
    
}

dd {
    display: none;
}

img.mobile-shadow {
    position: absolute;
    top: 118px;
    left: 46px;
}

.mobile-illustration {
    width: 76%;
}

@media only screen and (min-width: 412px) {

}
@media only screen and (min-width: 1024px) {
    .mobile-illustration-container {
        display: none;
    }
    .desktop-illustration-container {
        display: initial;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 271px;
        background-position-x: right;
    }
    
    .white-part {
        max-width: none;
        display: flex;
        padding: 4rem;
        width: 66%;
        position: relative;
        height: 500px;
        justify-content: flex-end;
    }
    .respect-overflow {
        position: absolute;
        width: 120px;
        height: 120px;
        top: 209px;
        z-index: 1;
        left: -51px;
    }

    .no-overflow {
        overflow: hidden;
        position: absolute;
        width: 350px;
        top: 100px;
        height: 271px;
    }

    .illustration-desk-img {
        position: absolute;
        left: -58px;
    }

    h1 {
        text-align: left;
    }

    .faqs {
        margin: 2.5rem 0;
    }

    .space-occupier {
        width: 300px;
        height: 500px;
    }

    .faq-container {
        flex: 1;
        margin-right: 2.5rem;
    }
    
}